//colors
$color-green-light: #e5ffd9;
$color-green-dark: #56e116;
$color-purple-dark: #835fd3;
$color-purplr-light: #ebe2ff;
$color-red-dark: #ff5b55;
$color-red-light: #ffdedd;
$color-yellow-dark: #bc8700;
$color-yellow-light: #ffd25f;
$site-background: #F3F1F6;
