@import "../../../assests/_variables.scss";

.modal {
  &-dialog {
    border-radius: 10px;
    .modal-content {
      @media screen and (max-width: 768px) {
        position: fixed;
        left: 0;
        bottom: 0;
        border-radius: 10px 10px 0px 0px;
      }
    }
  }

  &-header {
    background: $primary-dark-background;
    border-bottom: 1px solid $primary-dark-gray;
    font-size: 18px;
    font-weight: bold;

    .modal-title {
      color: $primary-white;
    }

    .btn-close {
      background-color: $primary-white;
      opacity: 1;
    }
  }

  &-body {
    background: $primary-white;
    padding: 20px;

    form {
      .form-group {
        margin-bottom: 15px;

        .form-label {
          font-weight: bold;
          color: $primary-dark-gray;
        }

        .form-control {
          border: 1px solid $primary-light-text;
          border-radius: 5px;
          padding: 10px;
          font-size: 14px;
          outline: none;
          transition: border 0.2s;

          &:focus {
            border-color: #007bff; /* Blue highlight on focus */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }
      }

      .username-input,
      .password-input {
        .form-control {
          height: 50px;
          padding: 0px 20px;
          font-size: 18px;
          &:focus {
            box-shadow: unset;
            border-color: $primary-dark-background;
          }
        }
      }

      .error {
        color: $primray-error;
        font-size: 14px;
        margin-top: 10px;
        background: #fbe9e9; /* Light red background for errors */
        padding: 10px;
        border: 1px solid $primray-error;
        border-radius: 5px;
      }
    }
  }

  &-footer {
    background: $primary-white; /* Matching the header background */
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .btn-secondary {
      background: $primary-white;
      color: $primary-dark-gray;
      border: none;
      &:hover {
        background: $primary-dark-gray; /* Slightly darker on hover */
      }
    }

    .btn-primary {
      background: $primary-dark-background;
      color: $primary-white;
      border: none;
      &:hover {
        background: $primary-dark-gray; /* Darker blue on hover */
      }
    }
  }
}
