.card-container {
  width: 220px;
  display: flex;
  height: 180px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  .icon {
  }
  .title {
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    line-height: 22px;
  }
  .count {
    font-size: 38px;
    font-weight: 600;
    padding-left: 20px;
    line-height: 50px;
  }
}
