.admin-panel-container {
  margin-top: 30px;
  .cards-and-table {
    display: flex;
    flex-direction: column;
  }
}
.cards-list {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  margin-left: 30px;
  max-width: 100%;
  margin-bottom: 40px;
  @media screen and (max-width: 992px) {
    max-width: 100%;
    margin: unset;
    padding: 0px 20px;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    gap: 20px;
  }
  @media screen and (max-width: 576px) {
    gap: 10px;
  }
}
