@import "../../assests/variables";

.navbar-desktop-container {
  @media screen and (max-width: 768px) {
    display: none;
  }
  min-height: 100vh;
  max-width: 300px;
  width: 250px;
  height: 100%;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  height: 50px;
  padding: 0px;
  border-right: 1px solid #e6eff5;
  background: white;

  z-index: 1000;
  .logo-part {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    height: 80px;
    border-bottom: 1px solid #e6eff5;
    margin-bottom: 50px;
    .icon-style {
      font-size: 50px;
      padding: 0 10px;
      background: unset;
      border: 0;
      color: black; /* Light text color for icons */

      &.logout {
        cursor: pointer;
        &:hover {
          color: $accent-cyan; /* Cyan accent on hover */
        }
      }

      &.active {
        color: $primary-white; /* Light color for active icon */
      }
    }
  }

  .navbar-items {
    display: flex;
    flex-direction: column;
    .nav-item {
      text-decoration: none;
      padding: 0 10px;
      color: #b1b1b1; /* Darker text color for regular items */
      transition: color $transition-default;
      position: relative;
      color: #b1b1b1;
      padding-left: 30px;
      padding-right: 30px;
      height: 60px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      svg {
        font-size: 30px;
        margin-left: 25px;
        margin-right: 10px;
      }
      &:hover {
        color: $accent-cyan;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); // Center vertically
          width: 6px; // Border width
          height: 80%; // Border height relative to the element
          background-color: $accent-cyan; // Border color
          border-radius: 0 8px 8px 0;
        }
      }

      &.active {
        position: relative;
        color: #0043c0;
        font-weight: 600;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); // Center vertically
          width: 6px; // Border width
          height: 80%; // Border height relative to the element
          background-color: #0043c0; // Border color
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
}

.navbar-mobile-container {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: end;

    .menu-buttons {
      width: 100%;
      justify-content: space-between;
      display: flex;
      .hamburger,
      .logout {
        font-size: 30px;
        background: unset;
        border: 0;
        padding: 0px 10px;
        color: $primary-light-text; /* Light color for hamburger */
      }
      .logout {
        font-size: 35px;
      }
    }

    .navbar-mobile-items {
      display: flex;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      flex-direction: column;
      background: $primary-dark-background; /* Dark background for the mobile menu */
      transition: transform $transition-default, opacity $transition-default;
      transform: translateY(-100%);
      opacity: 0;

      &.menu-open {
        transform: translateY(0);
        opacity: 1;
        z-index: 100;
      }

      &.menu-closed {
        transform: translateY(-100%);
        opacity: 0;
      }

      .close-menu {
        font-size: 30px;
        align-self: flex-start;
        border: 0;
        padding: 10px;
        background: unset;
        color: $primary-light-text; /* Light color for close button */
      }

      .items {
        display: flex;
        flex-direction: column;
        width: 200px;

        .menu-item {
          text-decoration: none;
          color: $primary-light-text; /* Light text color for menu items */
          font-size: 20px;
          font-weight: bold;
          margin: 10px 0;
          padding: 10px;
          border-radius: 5px;
          transition: all $transition-default, color $transition-default;

          &:hover {
            background: $accent-cyan; /* Cyan for hover effect */
            color: $primary-dark-background; /* Dark text for hover state */
          }

          &.active {
            color: $primary-white; /* White text for active item */
            background-color: $primary-dark-gray; /* Dark background for active item */
          }
        }
      }
    }
  }
}
