@import "../../assests/_variables.scss";

.table-container {
  max-width: 95%;
  margin: auto;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
  .table-wrapper {
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $primary-light-text;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-darker-text;
      border-radius: 10px;
      border: 2px solid $primary-light-text;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }
  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    th,
    td {
      white-space: break-spaces;
      vertical-align: top;
      text-align: left;
      padding: 7px;
      font-size: 16px;
      border: 1px solid $primary-dark-gray;
    }
    td {
      .edit-button,
      .delete-button {
        display: inline-block;
        padding: 7px;
        font-size: 18px;
        background-color: $primary-dark-background;
        color: $primary-white;
        border: 1px solid $primary-darker-text;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: $accent-dark-gray;
        }
      }
    }
  }

  @media (max-width: 992px) {
    table {
      min-width: 1000px;

      th,
      td {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  .table-header {
    width: 100%;
    display: flex;
    padding: 20px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    background: $primary-dark-background;
    .remove-filter {
      font-size: 20px;
      color: $primary-dark-background;
      position: absolute;
      right: 30px;
      top: 28px;
    }
  }
  .pagination-controls {
    width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background: $primary-dark-background;
    margin-bottom: 20px;
    justify-content: center;
    span {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin: 0px 20px;
      color: $primary-white;
      @media screen and (max-width: 992px) {
        font-size: 15px;
      }
    }
    button {
      display: flex;
      font-size: 18px;
      background-color: $primary-dark-background;
      color: $primary-white;
      border: 1px solid $primary-darker-text;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 10px 20px;
      @media screen and (max-width: 992px) {
        font-size: 15px;
        padding: 8px 16px;
      }
      &:hover {
        background-color: $accent-dark-gray;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
